ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #000000;
}

.active {
    background-color: #000000;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}


a:hover {
    color: blue;
}

a:active {
    color: blue;
}

body {
    font: p.sansserif;
    font-family: Comic Sans MS;
    color: white
}
